---
const { products } = Astro.props;
---

<div class="slider-wrapper">
  {
    products.map((product) => (
      <div class="product-slide" key={product.id}>
        <img src={product.image} alt={product.name} />
        <h2>{product.name}</h2>
        <p>{product.price} kr</p>
        <button class="add-to-cart-btn">Tilføj til kurv</button>
      </div>
    ))
  }
</div>

<style>
  :root {
    --color-bg: #f3f0e8;
    --color-blue: #9dcde3;
    --color-yellow: #fceb86;
  }

  .slider-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 5rem;
  }
  .product-slide {
    flex: 0 0 100vw;
    scroll-snap-align: start;
    box-sizing: border-box;
    position: relative;
  }
  .product-slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }

  .product-slide:hover img {
    transform: scale(0.9);
  }
  .product-slide h2,
  .product-slide p {
    text-align: center;
    margin: 0.5rem 0;
  }

  button {
    all: unset;
  }

  .add-to-cart-btn {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border: solid 1px black;
    padding: 1rem;
    transition:
      opacity 0.5s ease,
      background-color 0.5s ease;
  }

  .add-to-cart-btn:hover {
    background-color: var(--color-yellow);
  }

  .product-slide:hover .add-to-cart-btn {
    opacity: 1;
  }

  @media (min-width: 768px) {
    .slider-wrapper {
      overflow-x: visible;
    }
    .product-slide {
      flex: 0 0 20%;
    }
    .product-slide img {
      height: 400px;
    }
    h2 {
      font-size: 1.1rem;
    }
  }
</style>
