---
const { href, alt, src, size = 35 } = Astro.props;
---

<a href={href} target="_blank">
  <img src={src} alt={alt} width={size} height={size} />
</a>

<style>
  a img {
    display: inline-block;
    transition: transform 0.2s ease;
  }

  a:hover img {
    transform: scale(1.1);
  }
</style>
